<h1>Lista de Estacionamientos</h1>

<p>
  <%= link_to 'Nuevo Estacionamiento', new_estacionamiento_path %><br />
  <%= link_to "Contador de Autos", estacionamientos_contador_path %><br />
</p>

<table>
  <tr>
    <th>Local</th>
    <th>Autos</th>
    <th>Capacidad</th>
    <th>%</th>
    <th></th>
    <th></th>
  </tr>

<% @estacionamientos.each do |estacionamiento| %>
  <tr>
    <td><%= estacionamiento.local %></td>
    <td><%= estacionamiento.numero_autos %></td>
    <td><%= estacionamiento.capacidad_total %></td>
    <td><%= estacionamiento.porcentaje %></td>
    <td><%= link_to 'Ver', estacionamiento %></td>
    <td><%= link_to 'Editar', edit_estacionamiento_path(estacionamiento) %></td>
  </tr>
<% end %>
</table>

