<p id="notice"><%= notice %></p>
<h1>Detalle del Registro</h1>
<p>
  <b>Local:</b>
  <%= @estacionamiento.local %>
</p>
<p>
  <b>Cantidad de Autos:</b>
  <%= @estacionamiento.numero_autos %>
</p>
<p>
  <b>Capacidad Total:</b>
  <%= @estacionamiento.capacidad_total %>
</p>
<p>
  <b>Dirección:</b>
  <%= @estacionamiento.address %>
</p>

<p>
  <b>Longitud:</b>
  <%= @estacionamiento.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @estacionamiento.latitude %>
</p>

<%= link_to 'Editar', edit_estacionamiento_path(@estacionamiento) %> |
<%= link_to 'Volver', estacionamientos_path %>
