<h1>¿Quieres saber si hay Estacionamiento disponible en la UPC?</h1>
<p>Bienvenidos a Estacionamiento UPC, donde podrás saber en el momento que decidas la disponibildad de espacios en los estacionamientos de la UPC.
</p>

<p>
<table>
  <% @estacionamientos.each do |estacionamiento| %>
  <tr>
    <td><b>Nombre</b></td>
    <td><b>Número de autos</b></td>
    <td><b>Capacidad Total</b></td>
    <td><b>Disponible?</b></td>
  </tr>

  <tr>
    <td><%= estacionamiento.local %></td>
    <td><%= estacionamiento.numero_autos %></td>
    <td><%= estacionamiento.capacidad_total %></td>
    <td style="color:#006699; font-weight:bolder;"><%= estacionamiento.disponible? %></td>
  </tr>
<% end %>
</table>
</p>
<hr>
<p>
<div class="well">
<%= link_to "Desea Configurar sus notificaciones", "alumnos/login"%>
</div>
</p>