<div class="hero-unit">
<table>
	<tr>
	<td>Local<td/>
	<td>Porcentaje<td/>
	<td>Status<td/><tr/>
  <% @estacionamientos.each do |estacionamiento| %>
  	<tr>
    	<td><h2><%= estacionamiento.local %><h2 /><td/>
    	<td><h2><%= estacionamiento.porcentaje %><h2/><td/>
    	
    	<td>
    		<% if estacionamiento.porcentaje < 33 %>
    			<%= image_tag "green.png" %>
    		<% else %>
    			<% if estacionamiento.porcentaje > 33 || estacionamiento.porcentaje < 66 %>
    				<%=image_tag "yellow.png" %>
    			<% else %>
    				<%=image_tag "red.png" %>
    			<% end %>
    		<% end %>
    	<td/>
    <tr/>
  <% end %>
 </table>
</div>
