<!DOCTYPE html>
<html>
<head>
  <title>Estacionamientos UPC</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css" media="screen">
      .red {
        background-image: url("/assets/red.png");
        background-repeat: no-repeat;
        background-position: top left;
        height: 64px;
      }
  </style>
</head>

<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#">Estacionamientos UPC</a>
        <ul class="nav">
          <li class="active"><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Estacionamientos", estacionamientos_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>