<!DOCTYPE html>
<html>
<head>
  <title>Estacionamientos UPC</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">Estacionamientos UPC</a>
        <ul class="nav">
          <li class="active"><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Estacionamientos", estacionamientos_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>
  <footer class="footer">
      <div class="container">
        <p class="pull-right">
          <a href="http://www.upc.edu.pe">
            <%=image_tag "upc.gif" %>
          </a>
        </p>        
      </div>
  </footer>

</body>
</html>