<!DOCTYPE html>
<html>
<head>
  <title>Estacionamientos UPC</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>
  <div data-role="page">

  	<div data-role="header">
  	  <%= link_to "Inicio", root_path, "data-icon" => "home" %>
  		<h1>Estacionamientos UPC</h1>
  	</div><!-- /header -->
  	<div data-role="content">	
  		<%= yield %>		
  	</div><!-- /content -->
  	
  	<div data-role="footer">		
    	<div data-role="navbar">
    		<ul>
    			<li><%= link_to "Ingreso/Salida", estacionamientos_contador_path %></li>
    			<li><%= link_to "Estacionamientos", estacionamientos_path %></li>
    		</ul>
    	</div><!-- /navbar -->
    </div><!-- /footer -->

  </div><!-- /page -->

</body>
</html>